[submodule "overlay/lib/Atmosphere-libs"]
	path = lib/Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs
[submodule "overlay/lib/libtesla"]
	path = lib/libtesla
	url = https://github.com/WerWolv/libtesla
